.app {
  padding: 10px 70px;
}
.navCont {
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
}
.bannerImg {
  height: 550px;
}
.middle {
  margin-left: 50px;
}
.carouselBox {
  height: 250px;
}
.contactimg {
  width: 550px;
  height: auto;
}
.colorvoilet {
  color: rgb(85, 24, 171);
}
.voiletbtn {
  background-color: rgb(85, 24, 171);
  color: white;
  border: none;
}
.colorVioletBtn {
  border: 1px solid rgb(85, 24, 171);
  color: rgb(85, 24, 171);
}
.colorOrange {
  color: rgb(178, 119, 9);
}
.bgViolet {
  background-color: rgb(85, 24, 171);
  color: white;
}
.featureImg {
  width: 500px;
  height: auto;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 996px) {
  .featureImg {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .prodBoxes {
    flex-direction: column;
    align-items: center;
  }
  .featurewrap {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 480px) {
  .bannerImg {
    height: 300px;
  }
  .featureImg {
    width: 300px;
  }
  .app {
    padding: 10px 25px;
  }
  .contactimg {
    width: 300px;
  }
  .contactBox {
    height: 600px;
  }
  /* .carouselBox img {
    height: 40px !important;
    width: 40px;
  } */
}
@media screen and (max-width: 360px) {
  .footer h4 {
    font-size: 1.1rem;
  }
  .footer p {
    font-size: 0.8rem;
  }
  .app {
    padding: 10px 15px;
  }
}
